<a href="https://colab.research.google.com/github/Jarmos-san/PumpItUp/blob/master/2_DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

%cd /content/gdrive/My Drive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive
/content/gdrive/My Drive

# Import Necessary Libraries

In [0]:
import os
import pandas as pd
import numpy as np

# Creating the DataFrame

In [0]:
SITE = 'https://s3.amazonaws.com/drivendata/data/7/public/'

# Load .csv file directly from the provided links
SubmissionFormat = pd.read_csv(f'{SITE}SubmissionFormat.csv')
TestSet = pd.read_csv(f'{SITE}702ddfc5-68cd-4d1d-a0de-f5f566f76d91.csv', 
                      index_col=['id'], parse_dates=['date_recorded'])
TrainLabels = pd.read_csv(f'{SITE}0bf8bc6e-30d0-4c50-956a-603fc693d966.csv', 
                          index_col=['id'])
TrainSet = pd.read_csv(f'{SITE}4910797b-ee55-40a7-8668-10efd5c1b960.csv',
                       index_col=['id'], parse_dates=['date_recorded'])

# Make a copy of the original files for processing
TrainData = TrainSet.copy()
TestData = TestSet.copy()

# Renaming the Columns

In [19]:
# Merging the Labels and Training set into a single Dataframe as well renaming the Column names properly.
TrainData = TrainData.merge(TrainLabels, on='id')
TrainingRenamedColumns = ['TSHAmount', 'DateRecorded', 'Funder', 'GPSHeight', 'Installer', 'Longitutde',
              'Latitude', 'WaterPointName', 'PrivateNum', 'Basin', 'SubVillage', 'Region', 'RegionCode',
              'DistrictCode', 'LocalGovernmentArea', 'Ward', 'Population', 'PublicMeeting', 'RecordedBy',
              'SchemeManagement', 'SchemeName', 'Permit', 'ConstructionYear', 'ExtractionType', 
              'ExtractionTypeGroup', 'ExtractionTypeClass', 'Management', 'ManagementGroup', 'Payment', 
              'PaymentType', 'WaterQuality', 'QualityGroup', 'Quantity', 'QuantityGroup', 'Source', 
              'SourceType', 'SourceClass', 'WaterPointType', 'WaterPointTypeGroup', 'StatusGroup']
TrainData.set_axis(TrainingRenamedColumns, axis='columns', inplace=True)
TrainData.sample(1)

       TSHAmount DateRecorded  ... WaterPointTypeGroup  StatusGroup
id                             ...
53067        0.0   2011-07-07  ...  communal standpipe   functional

[1 rows x 40 columns]

In [20]:
# Renaming the columns for the Test set
TestRenamedColumns = ['TSHAmount', 'DateRecorded', 'Funder', 'GPSHeight',
       'Installer', 'Longitude', 'Latitude', 'WaterPointName', 'PrivateNum',
       'Basin', 'SubVillage', 'Region', 'RegionCode', 'DistrictCode', 'LocalGovernmentArea', 
       'Ward', 'Population', 'PublicMeeting', 'RecordedBy', 'SchemeManagement', 
       'SchemeName', 'Permit', 'ConstructionYear', 'ExtractionType', 'ExtractionTypeGroup', 
       'ExtractionTypeClass', 'Management', 'ManagementGroup', 'Payment', 'PaymentType', 
       'WaterQuality', 'QualityGroup', 'Quantity', 'QuantityGroup', 'Source', 
       'SourceType', 'SourceClass', 'WaterPointType', 'WaterPointTypeGroup']
TestData.set_axis(TestRenamedColumns, axis=1, inplace=True)
TestData.sample(1)

       TSHAmount DateRecorded  ...               WaterPointType  WaterPointTypeGroup
id                             ...
16153       30.0   2011-08-03  ...  communal standpipe multiple   communal standpipe

[1 rows x 39 columns]

# Handling Missing Values

In [0]:
TrainData['ConstructionYear'].replace(0, np.nan, inplace=True)

# Saving The `.csv` Files to GDrive

In [0]:
# Filepath to the directory for the data sets
FilePath = '/content/gdrive/My Drive/PumpItUp/data/'

# Saving dataframes as .csv files to GDrive
TrainData.to_csv(f'{FilePath}TrainData.csv')
TestData.to_csv(f'{FilePath}TestData.csv')