<a href="https://colab.research.google.com/github/Jarmos-san/PumpItUp/blob/master/2_DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setting up Notebook

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
%cd /content/gdrive/My\ Drive/Titanic/Data
%ls
%pwd

/content/gdrive/My Drive/Titanic/Data
EncodedTrainData.csv  gender_submission.csv  test.csv  train.csv

'/content/gdrive/My Drive/Titanic/Data'

In [0]:
import pandas as pd
import missingno

# Loading Datasets to Pandas DataFrame Object

In [0]:
# Path to the competition data files
PATH = '/content/gdrive/My Drive/Titanic/Data/'

# Loads the train and test datasets to a DataFrame
TrainDF = pd.read_csv(f'{PATH}train.csv', index_col='PassengerId')
TestDF = pd.read_csv(f'{PATH}test.csv', index_col='PassengerId')

# Makes a copy of the DataFrame for processing
TrainData= TrainDF.copy()
TestData= TestDF.copy()

# Handling Missing Values

Embarked

In [0]:
# Replacing NA values in the Embarked column with the mode
TrainData['Embarked'].fillna('S', inplace=True)

Age

In [0]:
# Age in both the datasets has missing values, hence they've been replaced with
# 0 temporarily. This can be imputated later on using feature engineering.
TrainData['Age'].fillna(0, inplace=True)
TestData['Age'].fillna(0, inplace=True)

Cabin

In [0]:
# Only a few NA values exists in the Cabin column hence they've been replaced with
# the mode in the column series
TrainData['Cabin'].fillna('G6', inplace=True)
TestData['Cabin'].fillna('G6', inplace=True)

Fare

In [0]:
# Only the Test set has missing value in the Fare column hence it has been 
# replaced with the mean.
TestData['Fare'].fillna(36, inplace=True)

# Dropping Uneccessary Columns

In [0]:
TrainData.drop(labels=['Name', 'Ticket', 'Cabin'], axis='columns', inplace=True)
TestData.drop(labels=['Name', 'Ticket', 'Cabin'], axis='columns', inplace=True)

# Encode the Variables

In [0]:
TrainData = pd.get_dummies(TrainData, columns=['Sex', 'Embarked'], 
                           drop_first=True)
TestData = pd.get_dummies(TestData, columns=['Sex', 'Embarked'], 
                           drop_first=True)

Notes

`Name`, `Ticket`, `Cabin`, have been dropped temporarily. While `Sex`, & `Embarked` are string type objects and are Nominal Categorical Variables.

# Save Encoded DataFrame as `.csv`

In [35]:
print(f'Training set has {TrainData.shape[0]} samples & {TrainData.shape[1]} features')
print(f'Testing set has {TestData.shape[0]} samples & {TestData.shape[1]} features')

Training set has 891 samples & 9 features
Testing set has 418 samples & 8 features

In [12]:
# First 3 rows of the Training set
TrainData.head(3)

             Survived  Pclass   Age  ...  Sex_male  Embarked_Q  Embarked_S
PassengerId                          ...
1                   0       3  22.0  ...         1           0           1
2                   1       1  38.0  ...         0           0           0
3                   1       3  26.0  ...         0           0           1

[3 rows x 9 columns]

In [36]:
# First 3 rows of the Testing set
TestData.head(3)

             Pclass   Age  SibSp  ...  Sex_male  Embarked_Q  Embarked_S
PassengerId                       ...
892               3  34.5      0  ...         1           1           0
893               3  47.0      1  ...         0           0           1
894               2  62.0      0  ...         1           1           0

[3 rows x 8 columns]

In [13]:
list(TrainData.columns)

['Survived',
 'Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Sex_male',
 'Embarked_Q',
 'Embarked_S']

In [37]:
list(TestData.columns)

['Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Sex_male',
 'Embarked_Q',
 'Embarked_S']

In [0]:
def df2csv(data, filename):
    '''
    Function to create a csv from Dataframe & save to a local location
    '''
    return data.to_csv(f'{PATH}{filename}')

In [0]:
df2csv(TrainData, 'encodedTrain.csv')
df2csv(TestData, 'encodedTest.csv')