<a href="https://colab.research.google.com/github/Jarmos-san/PumpItUp/blob/master/3_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The Estimators to use:
- Linear SVC
- KNN
- SVC
- Ensemble Classifier (RandomForests maybe?)

[Choosing the Right Estimator](https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html)

# Setting up Notebook

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

%cd /content/gdrive/My\ Drive/Titanic/Data
%ls
%pwd

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive
/content/gdrive/My Drive/Titanic/Data
encodedTest.csv  encodedTrain.csv  gender_submission.csv  test.csv  train.csv

'/content/gdrive/My Drive/Titanic/Data'

Importing required libraries

In [0]:
import pandas as pd

import matplotlib.pyplot as plt

from sklearn.svm import SVC

In [0]:
TrainData = pd.read_csv('encodedTrain.csv', index_col='PassengerId')
TestData = pd.read_csv('encodedTest.csv', index_col='PassengerId')

In [10]:
TrainRows, TrainColumns = TrainData.shape
TestRows, TestColumns = TestData.shape

print(f'Training set has {TrainRows} rows & {TrainColumns} columns')
print(f'Tetsting set has {TestRows} rows & {TestColumns} columns')

Training set has 891 rows & 9 columns
Tetsting set has 418 rows & 8 columns

In [11]:
TrainData.head(3)

             Survived  Pclass   Age  ...  Sex_male  Embarked_Q  Embarked_S
PassengerId                          ...
1                   0       3  22.0  ...         1           0           1
2                   1       1  38.0  ...         0           0           0
3                   1       3  26.0  ...         0           0           1

[3 rows x 9 columns]

In [12]:
TestData.head(3)

             Pclass   Age  SibSp  ...  Sex_male  Embarked_Q  Embarked_S
PassengerId                       ...
892               3  34.5      0  ...         1           1           0
893               3  47.0      1  ...         0           0           1
894               2  62.0      0  ...         1           1           0

[3 rows x 8 columns]

In [0]:
X_Train = TrainData.drop('Survived', axis=1)
y_Train = TrainData['Survived']
X_Test = TestData

In [16]:
clf = SVC(random_state=1)
clf.fit(X_Train, y_Train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=1, shrinking=True, tol=0.001,
    verbose=False)

In [28]:
y_Pred = clf.predict(X_Test)
y_Pred[:5]

array([0, 0, 0, 0, 0])

In [24]:
acc = round(clf.score(X_Train, y_Train) * 100, 4)
print(f'SVC Accuracy: {acc}%')

SVC Accuracy: 68.6869%

In [25]:
TestData.index

Int64Index([ 892,  893,  894,  895,  896,  897,  898,  899,  900,  901,
            ...
            1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309],
           dtype='int64', name='PassengerId', length=418)

In [0]:
PATH = '/content/gdrive/My Drive/Titanic/Data/'

submission = pd.DataFrame({
    'PassengerId': TestData.index,
    'Survived': y_Pred
})

submission.to_csv(f'{PATH}submission.csv', index=False)