<a href="https://colab.research.google.com/github/Jarmos-san/PumpItUp/blob/master/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
from google.colab import drive
drive.mount('/content/gdrive')

%cd /content/gdrive/My Drive

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/My Drive

# Import Necessary Libraries

In [0]:
import os
import pandas as pd
import numpy as np

# Creating the DataFrame

In [0]:
SITE = 'https://s3.amazonaws.com/drivendata/data/7/public/'

# Load .csv file directly from the provided links
SubmissionFormat = pd.read_csv(f'{SITE}SubmissionFormat.csv')
TestSet = pd.read_csv(f'{SITE}702ddfc5-68cd-4d1d-a0de-f5f566f76d91.csv', parse_dates=['date_recorded'])
TrainLabels = pd.read_csv(f'{SITE}0bf8bc6e-30d0-4c50-956a-603fc693d966.csv')
TrainSet = pd.read_csv(f'{SITE}4910797b-ee55-40a7-8668-10efd5c1b960.csv', parse_dates=['date_recorded'])

# Make a copy of the original files for processing
TrainData = TrainSet.copy()
TestData = TestSet.copy()

# Renaming the Columns

In [25]:
# Merging the Labels and Training set into a single Dataframe as well renaming the Column names properly.
TrainData = TrainData.merge(TrainLabels, on='id')
TrainingRenamedColumns = ['ID', 'TSHAmount', 'DateRecorded', 'Funder', 'GPSHeight', 'Installer', 'Longitutde',
              'Latitude', 'WaterPointName', 'PrivateNum', 'Basin', 'SubVillage', 'Region', 'RegionCode',
              'DistrictCode', 'LocalGovernmentArea', 'Ward', 'Population', 'PublicMeeting', 'RecordedBy',
              'SchemeManagement', 'SchemeName', 'Permit', 'ConstructionYear', 'ExtractionType', 
              'ExtractionTypeGroup', 'ExtractionTypeClass', 'Management', 'ManagementGroup', 'Payment', 
              'PaymentType', 'WaterQuality', 'QualityGroup', 'Quantity', 'QuantityGroup', 'Source', 
              'SourceType', 'SourceClass', 'WaterPointType', 'WaterPointTypeGroup', 'StatusGroup']
TrainData.set_axis(TrainingRenamedColumns, axis='columns', inplace=True)
TrainData.sample(1)

          ID  TSHAmount  ... WaterPointTypeGroup     StatusGroup
26711  24339        0.0  ...  communal standpipe  non functional

[1 rows x 41 columns]

In [26]:
# Renaming the columns for the Test set
TestRenamedColumns = ['ID', 'TSHAmount', 'DateRecorded', 'Funder', 'GPSHeight',
       'Installer', 'Longitude', 'Latitude', 'WaterPointName', 'PrivateNum',
       'Basin', 'SubVillage', 'Region', 'RegionCode', 'DistrictCode', 'LocalGovernmentArea', 
       'Ward', 'Population', 'PublicMeeting', 'RecordedBy', 'SchemeManagement', 
       'SchemeName', 'Permit', 'ConstructionYear', 'ExtractionType', 'ExtractionTypeGroup', 
       'ExtractionTypeClass', 'Management', 'ManagementGroup', 'Payment', 'PaymentType', 
       'WaterQuality', 'QualityGroup', 'Quantity', 'QuantityGroup', 'Source', 
       'SourceType', 'SourceClass', 'WaterPointType', 'WaterPointTypeGroup']
TestData.set_axis(TestRenamedColumns, axis=1, inplace=True)
TestData.sample(1)

      ID  TSHAmount DateRecorded  ... SourceClass  WaterPointType WaterPointTypeGroup
4105  58        0.0   2013-02-13  ...     surface           other               other

[1 rows x 40 columns]

# Handling Missing Values

In [0]:
TrainData['ConstructionYear'].replace(0, np.nan, inplace=True)

# Saving The `.csv` Files to GDrive

In [0]:
# Filepath to the directory for the data sets
FilePath = '/content/gdrive/My Drive/PumpItUp/data/'

# Saving dataframes as .csv files to GDrive
TrainData.to_csv(f'{FilePath}TrainData', index=False)
TestData.to_csv(f'{FilePath}TestData', index=False)