<a href="https://colab.research.google.com/github/Jarmos-san/PumpItUp/blob/master/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Necessary Libraries

In [5]:
import os
import pandas as pd

from google.colab import drive
drive.mount('/content/gdrive')

%cd /content/gdrive/My Drive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive
/content/gdrive/My Drive

# Creating the DataFrame

In [0]:
SITE = 'https://s3.amazonaws.com/drivendata/data/7/public/'

# Load .csv file directly from the provided links
SubmissionFormat = pd.read_csv(f'{PATH}SubmissionFormat.csv')
TestSet = pd.read_csv(f'{PATH}702ddfc5-68cd-4d1d-a0de-f5f566f76d91.csv', parse_dates=['date_recorded'])
TrainLabels = pd.read_csv(f'{PATH}0bf8bc6e-30d0-4c50-956a-603fc693d966.csv')
TrainSet = pd.read_csv(f'{PATH}4910797b-ee55-40a7-8668-10efd5c1b960.csv', parse_dates=['date_recorded'])

# Make a copy of the original files for processing
TrainData = TrainSet.copy()
TestData = TestSet.copy()

# Renaming the Columns

In [34]:
# Merging the Labels and Training set into a single Dataframe as well renaming the Column names properly.
TrainData = TrainData.merge(TrainLabels, on='id')
TrainingRenamedColumns = ['ID', 'TSHAmount', 'DateRecorded', 'Funder', 'GPSHeight', 'Installer', 'Longitutde',
              'Latitude', 'WaterPointName', 'PrivateNum', 'Basin', 'SubVillage', 'Region', 'RegionCode',
              'DistrictCode', 'LocalGovernmentArea', 'Ward', 'Population', 'PublicMeeting', 'RecordedBy',
              'SchemeManagement', 'SchemeName', 'Permit', 'ConstructionYear', 'ExtractionType', 
              'ExtractionTypeGroup', 'ExtractionTypeClass', 'Management', 'ManagementGroup', 'Payment', 
              'PaymentType', 'WaterQuality', 'QualityGroup', 'Quantity', 'QuantityGroup', 'Source', 
              'SourceType', 'SourceClass', 'WaterPointType', 'WaterPointTypeGroup', 'StatusGroup']
TrainData.set_axis(TrainingRenamedColumns, axis='columns', inplace=True)
TrainData.sample(1)

         ID  TSHAmount  ... WaterPointTypeGroup StatusGroup
2989  59205     1000.0  ...  communal standpipe  functional

[1 rows x 41 columns]

In [35]:
# Renaming the columns for the Test set
TestRenamedColumns = ['ID', 'TSHAmount', 'DateRecorded', 'Funder', 'GPSHeight',
       'Installer', 'Longitude', 'Latitude', 'WaterPointName', 'PrivateNum',
       'Basin', 'SubVillage', 'Region', 'RegionCode', 'DistrictCode', 'LocalGovernmentArea', 
       'Ward', 'Population', 'PublicMeeting', 'RecordedBy', 'SchemeManagement', 
       'SchemeName', 'Permit', 'ConstructionYear', 'ExtractionType', 'ExtractionTypeGroup', 
       'ExtractionTypeClass', 'Management', 'ManagementGroup', 'Payment', 'PaymentType', 
       'WaterQuality', 'QualityGroup', 'Quantity', 'QuantityGroup', 'Source', 
       'SourceType', 'SourceClass', 'WaterPointType', 'WaterPointTypeGroup']
TestData.set_axis(TestRenamedColumns, axis=1, inplace=True)
TestData.sample(1)

         ID  TSHAmount  ... WaterPointType WaterPointTypeGroup
1414  39354      100.0  ...      hand pump           hand pump

[1 rows x 40 columns]

# Saving The `.csv` Files to GDrive

In [0]:
# Filepath to the directory for the data sets
FilePath = '/content/gdrive/My Drive/PumpItUp/data/'

# Saving dataframes as .csv files to GDrive
TrainData.to_csv(f'{FilePath}TrainData', index=False)
TestData.to_csv(f'{FilePath}TestData', index=False)