<a href="https://colab.research.google.com/github/Jarmos-san/PumpItUp/blob/master/PumpItUp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [DrivenData Competition | Pump it Up: Data Mining the Water Table](https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/page/23/)

Goal - ***To predict the operating condition of a waterpoint for each record in the dataset.***

[Discussion Forums](https://community.drivendata.org/c/pump-it-up-data-mining-the-water-table)

---

Problem Description has 3 sections:

- Features
- Labels
- Submission Format

## Features:

- `TSHAmount` - **Total static head (amount water available to waterpoint)**
- `DateOfRecording` - **The date the row was entered**
- `Funder` - **Who funded the well**
- `GPSHeight` - **Altitude of the well**
- `Installer` - **Organization that installed the well**
- `Longitude` - **GPS coordinate**
- `Latitude` - **GPS coordinate**
- `WaterPointName` - **Name of the waterpoint if there is one**
- `PrivateNum` -
- `Basin` - **Geographic water basin**
- `SubVillage` - **Geographic location**
- `Region` - **Geographic location**
- `RegionCode` - **Geographic location (coded)**
- `DistrictCode` - **Geographic location (coded)**
- `LocalGovernmentArea` - **Geographic location**
- `Ward` - **Geographic location**
- `Population` - **Population around the well**
- `PublicMeeting` - **True/False**
- `RecordedBy` - **Group entering this row of data**
- `SchemeManager` - **Who operates the waterpoint**
- `SchemeName` - **Who operates the waterpoint**
- `Permit` - **If the waterpoint is permitted**
- `YearOfConstruction` - **Year the waterpoint was constructed**
- `ExtractionType` - **The kind of extraction the waterpoint uses**
- `ExtractionTypeGroup` - **The kind of extraction the waterpoint uses**
- `ExtractionTypeClass` - **The kind of extraction the waterpoint uses**
- `MangementType` - **How the waterpoint is managed**
- `ManagementGroup` - **How the waterpoint is managed**
- `OperationCosts` - **What the water costs**
- `PaymentType` - **What the water costs**
- `WaterQuality` - **The quality of the water**
- `Qualityroup` - **The quality of the water**
- `Quantity` - **The quantity of water**
- `QuantityGroup` - **The quantity of water**
- `Source` - **The source of the water**
- `SourceType` - **The source of the water**
- `SourceClass` - **The source of the water**
- `WaterPointType` - **The kind of waterpoint**
- `WaterPointTypeGroup` - **The kind of waterpoint**

## Labels:

- `functional` - **the waterpoint is operational and there are no repairs needed**
- `functional needs repair` - **the waterpoint is operational, but needs repairs**
- `non functional` - **the waterpoint is not operational**

## Submission Format:

id 	  | status_group |
------|--------------|
50785 |	functional   |
51630 |	functional   |
17168 |	functional   |
45559 |	functional   |
49871 |	functional   |

## Data Download:

File 	                                                                                                            | Description                                       |
------------------------------------------------------------------------------------------------------------------|---------------------------------------------------|
[Submission format](https://s3.amazonaws.com/drivendata/data/7/public/SubmissionFormat.csv)                       |	The format for submitting your predictions        |
[Test Set Values](https://s3.amazonaws.com/drivendata/data/7/public/702ddfc5-68cd-4d1d-a0de-f5f566f76d91.csv)     |	The independent variables that need predictions   |
[Training Set Labels](https://s3.amazonaws.com/drivendata/data/7/public/0bf8bc6e-30d0-4c50-956a-603fc693d966.csv) |	The dependent variable (status_group) for each of the rows in Training set values   |
[Training Set Values](https://s3.amazonaws.com/drivendata/data/7/public/4910797b-ee55-40a7-8668-10efd5c1b960.csv) | The independent variables for the training set    |

In [35]:
# Loading Pandas 0.25.3 into the system along with the required files
import pandas as pd
import numpy as np

# Checking the version for easier debugging at some point of time.
print(f'Pandas version: {pd.__version__}')
print(f'Numpy version: {np.__version__}')

Pandas version: 0.25.3
Numpy version: 1.17.4

In [0]:
# Load .csv file directly from the provided links
SubmissionFormat = pd.read_csv('https://s3.amazonaws.com/drivendata/data/7/public/SubmissionFormat.csv')
TestSet = pd.read_csv('https://s3.amazonaws.com/drivendata/data/7/public/702ddfc5-68cd-4d1d-a0de-f5f566f76d91.csv')
TrainLabels = pd.read_csv('https://s3.amazonaws.com/drivendata/data/7/public/0bf8bc6e-30d0-4c50-956a-603fc693d966.csv')
TrainSet = pd.read_csv('https://s3.amazonaws.com/drivendata/data/7/public/4910797b-ee55-40a7-8668-10efd5c1b960.csv')

In [0]:
# Checking for the number of variables in the Label and Training set
print(f'Size of Labels set: {TrainLabels.shape}')
print(f'Size of Training set: {TrainSet.shape}')

Size of Labels set: (59400, 2)
Size of Training set: (59400, 40)

In [0]:
# Checking the last 3 variables in the dataset for a rough visual idea of the features.
TrainLabels.tail(3)

          id status_group
59397  37057   functional
59398  31282   functional
59399  26348   functional

In [0]:
# Checking the tail of the dataset for rough visual idea of the available features.
TrainSet.tail(3)

          id  amount_tsh  ... waterpoint_type waterpoint_type_group
59397  37057         0.0  ...       hand pump             hand pump
59398  31282         0.0  ...       hand pump             hand pump
59399  26348         0.0  ...       hand pump             hand pump

[3 rows x 40 columns]

In [48]:
# Merging the Labels and Training set into a single Dataframe as well renaming the Column names properly.
data = TrainSet.merge(TrainLabels, on='id')
RenamedColumns = ['ID', 'TSHAmount', 'DateOfRecording', 'Funder', 'GPSHeight', 'Installer', 'Longitutde',
              'Latitude', 'WaterPointName', 'PrivateNum', 'Basin', 'SubVillage', 'Region', 'RegionCode',
              'DistrictCode', 'LocalGovernmentArea', 'Ward', 'Population', 'PublicMeeting', 'RecordedBy',
              'SchemeManagement', 'Schemename', 'Permit', 'ConstructionYear', 'ExtractionType', 
              'ExtractionTypeGroup', 'ExtractionTypeClass', 'Management', 'ManagementGroup', 'Payment', 
              'PaymentType', 'WaterQuality', 'QualityGroup', 'Quantity', 'QuantityGroup', 'Source', 
              'SourceType', 'SourceClass', 'WaterPointType', 'WaterPointTypeGroup', 'StatusGroup']
data.set_axis(RenamedColumns, axis='columns', inplace=True)
data.head()

      ID  TSHAmount  ... WaterPointTypeGroup     StatusGroup
0  69572     6000.0  ...  communal standpipe      functional
1   8776        0.0  ...  communal standpipe      functional
2  34310       25.0  ...  communal standpipe      functional
3  67743        0.0  ...  communal standpipe  non functional
4  19728        0.0  ...  communal standpipe      functional

[5 rows x 41 columns]

In [49]:
# Checking basic stats of the Dataframe
data.describe()

                 ID      TSHAmount  ...    Population  ConstructionYear
count  59400.000000   59400.000000  ...  59400.000000      59400.000000
mean   37115.131768     317.650385  ...    179.909983       1300.652475
std    21453.128371    2997.574558  ...    471.482176        951.620547
min        0.000000       0.000000  ...      0.000000          0.000000
25%    18519.750000       0.000000  ...      0.000000          0.000000
50%    37061.500000       0.000000  ...     25.000000       1986.000000
75%    55656.500000      20.000000  ...    215.000000       2004.000000
max    74247.000000  350000.000000  ...  30500.000000       2013.000000

[8 rows x 10 columns]

In [50]:
# Replacing 0.0 values with Numpy NaN values. 
data['TSHAmount'].replace(0.0, np.nan, inplace=True)
data['ConstructionYear'].replace(0.0, np.nan, inplace=True)
data['Population'].replace(0.0, np.nan, inplace=True)
data.isnull().sum()

ID                         0
TSHAmount              41639
DateOfRecording            0
Funder                  3635
GPSHeight                  0
Installer               3655
Longitutde                 0
Latitude                   0
WaterPointName             0
PrivateNum                 0
Basin                      0
SubVillage               371
Region                     0
RegionCode                 0
DistrictCode               0
LocalGovernmentArea        0
Ward                       0
Population             21381
PublicMeeting           3334
RecordedBy                 0
SchemeManagement        3877
Schemename             28166
Permit                  3056
ConstructionYear       20709
ExtractionType             0
ExtractionTypeGroup        0
ExtractionTypeClass        0
Management                 0
ManagementGroup            0
Payment                    0
PaymentType                0
WaterQuality               0
QualityGroup               0
Quantity                   0
QuantityGroup              0
Source                     0
SourceType                 0
SourceClass                0
WaterPointType             0
WaterPointTypeGroup        0
StatusGroup                0
dtype: int64

In [40]:
# Check for column data types for easier grouping and data manipulation.
data.dtypes

id                         int64
amount_tsh               float64
date_recorded             object
funder                    object
gps_height                 int64
installer                 object
longitude                float64
latitude                 float64
wpt_name                  object
num_private                int64
basin                     object
subvillage                object
region                    object
region_code                int64
district_code              int64
lga                       object
ward                      object
population               float64
public_meeting            object
recorded_by               object
scheme_management         object
scheme_name               object
permit                    object
construction_year        float64
extraction_type           object
extraction_type_group     object
extraction_type_class     object
management                object
management_group          object
payment                   object
payment_type              object
water_quality             object
quality_group             object
quantity                  object
quantity_group            object
source                    object
source_type               object
source_class              object
waterpoint_type           object
waterpoint_type_group     object
status_group              object
dtype: object

# Rough Overview

- The column names have been cleaned but there seems to be some duplicates which needs to be taken care of.
- `NaN` values in some of the features need to be taken care of too or dropped at a later stage after understanding the need to.
- Seems like there are a lot of string-type values in the dataset which could be transformed into possible categories.
- Understand & read up more on Feature Engineering.
- Do some feature engineering with the data, learn how to check for relevancy in the features and drop some columns accordingly.
- Create model and then **Profit**!!